.container-fluid .navbar-brand{
    color: white;
    height: 50px;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 120%;
}

.navbar-nav li {
  display:inline-block;     
}

body{
  background-color:#e4e4e4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.0;
  text-align: justify;
}

.container {
  
  background-color: white;
  
  
  
}

.container h1{
  font-weight: bold;
  font-size: 250%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 70px;
  padding: 20px;
  margin-left: 30px;
  align-content: center;
}

p {
  line-height: 1;
  margin-bottom: 70px;
}

.container h3{
  font-weight: bold;
  font-size: 125%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 70px;
  margin-right: 35px;
}

footer{
  position: left;
  bottom: 0;
  width: 100%;
  height: 5px;
  font-size: xx-small;
  background-color: rgb(83, 83, 81);
}

.footer p{
  color: white;
}

.container h2{
  font-weight: bold;
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 70px;
  margin-left: 20px;
  padding: 20px;
}
#comparison {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}

#comparison h3 {
  margin-top: 1px;
}

#comparison p {
  margin-bottom: 20px;
}

#firstblock {
  width:90%;
}

#secondblock {
  margin-left: 25px;
  width:85%;
}

.dataframe{
  margin-left: 100px;
}

.col-md-12 h2{
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 480px) {
  .navbar-nav li {  
    padding: 10px;
  }
  /* .box {
    margin-right: 20px;
    margin-left: 20px;
  } */
  /* The nav bar selection remains hidden when screen size reaches 480px */
  .navbar ul { 
    visibility: hidden;
  }
  /* #nav-select {
    visibility: visible;
  } */
}
